# Clerk keys - required for both docker-compose.full.yml and docker-compose.dev.yml
PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxx
Authorization__Issuer=https://your-app.clerk.accounts.dev
